//hand wave animation
ul#hover-hand {
	i.fa.fa-hand-paper-o {
		visibility: hidden;
		font-size: 18px;
	}
	&:hover i.fa.fa-hand-paper-o {
		  visibility: visible;
		  font-size: 18px;
	}
}

i.fa.fa-hand-paper-o {
	animation-name: shake;
	-webkit-animation: shake 0.5s alternate infinite; 
  	-moz-animation: shake 0.5s alternate infinite; 
  	animation: shake 0.5s alternate infinite; 
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

@keyframes shake {
	0% {-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
	100% {-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);}
}
//star pulse animation
ul#hover-star {
	i.fa.fa-star-o {
		visibility: hidden;
		font-size: 18px;
	}
	&:hover i.fa.fa-star-o {
		  visibility: visible;
		  font-size: 18px;
	}
}

i.fa.fa-star-o {
	animation-name: flash;
	animation: flash .50s infinite alternate;
}

@keyframes flash {
	to { transform: scale(1.2); }
}

ul#hover-peace-sign {
	i.fa.fa-hand-peace-o {
		visibility: hidden;
		font-size: 18px;
	}
	&:hover i.fa-hand-peace-o {
		visibility: visible;
		font-size: 18px;
	}
}

i.fa.fa-hand-peace-o {
	animation-name: peace-sign-flash;
	animation: peace-sign-flash 2s infinite;
}

@keyframes peace-sign-flash {
	0%, 50%, 100% {
      opacity: 1;
   }
   25%, 75% {
      opacity: 0;
   }
}

.modal-content {
	border: 7px solid $salmon;
	border-radius: 0px;
}

.modal-header {
	border-bottom: 4px solid $salmon;
}

p#modal-font {
	color: $salmon;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

