#row-container {
	position: absolute;
    height: 567px;
    width: calc(100% - 40px);
    left: 20px;
    top: calc(50% - 273px);
}

#logo-container {
    position: absolute;
    height: 100%; //567px
    width: calc(100% - 40px); //calc(100% - 40px)
    // left: 20px;
    // top: calc(50% - 273px);

}

.grid-heart {
	height: 273px;
	width: 100%;
	background-color: $orange;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
	i.glyphicon.glyphicon-heart-empty {
		color: white;
		font-size: 50px;
    }
}

.grid-flash {
	height: 273px;
	width: 100%;
	background-color: $salmon;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
    i.glyphicon.glyphicon-flash {
    	color: white;
    	font-size: 50px;
    }
}

.grid-shades {
	height: 273px;
	width: 100%;
	background-color: $salmon;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
	i.glyphicon.glyphicon-sunglasses {
    	color: white;
    	font-size: 50px;
    }
}

.grid-star {
	height: 273px;
	width: 100%;
	background-color: $orange;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
    i.glyphicon.glyphicon.glyphicon-star-empty {
    	color: white;
    	font-size: 50px;
    }
}

a {
	&:hover, &:visited, &:active, &:link {
		text-decoration: none;
	}
}

span {
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	color: white;
	text-align: center;
	&.project-desc {
		margin-top: 10px;
		font-size: 25px;
	}
}



