

.logo-pink-box {
	height: 300px; //350px
	width: 100%; //528px
	// background:linear-gradient(rgba(252, 191, 199, 0.8), rgba(252, 191, 199, 0.3)), url(../images/highqualitybadge.png);
	background-color: $pink;
}

.logo-orange-box {
	height: 300px;
	width: 100%;
	// border: $orange 3px solid;
	background-color: $orange;
}

.logo-salmon-box {
	height: 300px;
	width: 100%;
	background-color: $salmon;
}

span {
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

#test-container {
	padding-left: 20px;
	padding-right: 20px;
}
