#trail-blazer {
	width: 400px;
	height: 400px;
	background-color: $salmon;
	margin-right: 0;
	position: absolute;
	&:hover {
		// filter: saturate(100%);
		background-image: url('../images/trialblazer.png');
		// background:linear-gradient(rgba(254, 173, 154, 0.9), rgba(254, 173, 154, 0.7)), url('../images/trailblazerss.png');
		// border: $salmon 5px solid;
		box-shadow: 0px 0px 50px $pink;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		justify-content: center;
    	align-items: center;
    	background-color: $orange;
    	cursor: pointer;
    	text-decoration: none;
    	z-index: 2;
	}
}

a {
	text-decoration: none;
}

// p.about:hover {
// 	text-decoration: none;
// 	display: none;
// 	visibility: hidden;

// }

#calcapple {
	height: 400px;
    width: 550px;
    background-color: $pink;
    z-index: 1;
    position: absolute;
    margin-left: 350px;
    margin-top: 100px;
    &:hover {
    	background-image: url('../images/calc-apple.png');
    	box-shadow: 0px 0px 50px $pink;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		justify-content: center;
    	align-items: center;
    	cursor: pointer;
    	text-decoration: none;
    	background-color: $orange;
    }
}

#insta-type {
	border: 5px solid $orange;
	height: 300px;
	width: 400px;
	position: absolute;
	margin-left: 865px;
	z-index: 3;
	float: right;
	margin-top: 50px;
	color: $orange;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 40px;
	display: flex;
    justify-content: center;
    align-items: center;

	// background-image: url('../images/roses.jpg');
	// background:linear-gradient(rgba(255, 193, 146, 0.9), rgba(255, 193, 146, 0.9)), url('../images/roses.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	filter: greyscale(100%);
	&:hover {
		background-color: $salmon;
		border: none;
		box-shadow: 0px 0px 50px $orange;

	}
}

