

.logo-pink-box {
	height: 340.81px; //350px
	width: 100%; //528px
	// background:linear-gradient(rgba(252, 191, 199, 0.8), rgba(252, 191, 199, 0.3)), url(../images/highqualitybadge.png);
	background-color: $pink;
	// margin-bottom: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

.logo-orange-box {
	height: 240.81px; //340.81px
	width: 100%;
	// border: $orange 3px solid;
	background-color: $orange;
	margin-top: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

.logo-salmon-box {
	height: 240.81px; //340.81px
	width: 100%;
	margin-top: 20px;
	background-color: $salmon;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

.logo-orange-border {
	border: $orange 5px solid;
	height: 570.81px; //340.81px
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

.logo-pink-border {
	border: $pink 5px solid;
	height: 250px; //340.81
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
	margin-top: 20px;
}

.logo-salmon-border {
	border: $salmon 5px solid;
	height: 340.81px;
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

.logo-wide-orange-border {
	border: $orange 5px solid;
	height: 340.81px;
	width: 100%;
	margin-top: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

.logo-wide-salmon-box {
	height: 300.81px; //340.81px
	width: 100%;
	margin-top: 20px;
	background-color: $salmon;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

.logo-wide-salmon-border {
	border: $salmon 5px solid;
	height: 280.81px;
	width: 100%;
	margin-top: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;
}

.logo-wide-pink-box {
	background-color: $pink;
	height: 340.81px;
	width: 100%;
	margin-top: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap;

}

.logo-margin-orange-box {
	border: $orange 5px solid;
	height: 550px; //340.81
	width: 100%;
	margin-top: 20px;
	display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-flow: column wrap;
   	flex-flow: column wrap; 
}

span {
	&#salmon-text {
	   	text-align: center;
	   	color: $salmon;
	   	font-family: 'Cedarville Cursive', cursive;
	   	font-size: 35px;
	}
	&#orange-text {
		text-align: center;
	   	color: $orange;
	   	font-family: 'Cedarville Cursive', cursive;
	   	font-size: 35px;
	}
}

.fa {
	&.fa-diamond {
		font-size: 50px;
		color: white;
		text-align: center;
	}
	&.fa.fa-bolt {
		font-size: 50px;
		color: white;
		text-align: center;
	}
	&.fa.fa-hashtag {
		font-size: 50px;
		color: white;
		text-align: center;
	}
}
