@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
html, body {
	height: 100%;
	width: 100%;
}

div#landing-page {
 	height: 100%;
	width: 100%;
    border: 6px solid $salmon;
    position: fixed;
}

nav ul {
	float: right;
	display: inline-block;
	padding: 15px;
	margin-right: 30px;
	color: $salmon;
}

p#small-font {
	font-size: 20px;
	color: $salmon;
	font-family: 'Oswald', sans-serif;
	margin-left: 15px;
}

p {
	color: $salmon;
	font-size: 40px;
	font-family: 'Oswald', sans-serif;
	margin-left: 15px;
	&.about {
		color: white;
		font-family: 'Cedarville Cursive', cursive;

	}

}

span#selector {
	font-family: 'Cedarville Cursive', cursive;
	font-size: 40px;
	mix-blend-mode: color-dodge;
}


img {
	height: 330px;
	width: 770px;
	z-index: 2;
}


div#pink-box {
	// background-image: url("http://doge2048.com/meta/doge-600.png");
	height: 500px;
	width: 500px;
	z-index: -1;
	float: right;
	background-position: center center;
	background-repeat: no-repeat;
	// background-attachment: fixed; 
	background-size: cover;
	background-color: #FBBEC6; 
	display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 700px;
    position: absolute;
    &:hover {
    // background-image: url('https://s-media-cache-ak0.pinimg.com/736x/d9/eb/11/d9eb118e26da9f8e160cc7a6c9989a0b.jpg');
    background:linear-gradient(rgba(255, 255, 255, 0.9), rgba(225, 255, 255, 0.7)), url('https://s-media-cache-ak0.pinimg.com/736x/d9/eb/11/d9eb118e26da9f8e160cc7a6c9989a0b.jpg');
    height: 500px;
    width: 500px ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
	cursor: pointer;
	color: black;
	box-shadow: 0px 0px 50px $orange;
	z-index: 3; 

    }
}

div#orange-box {
	position: absolute;
	// background-color: $orange;
	border: 5px solid $orange;
	height: 150px;
    width: 500px;
    margin-left: 300px;
}

p#second-about {
	color: $salmon;
	font-size: 20px;
}

div#full-orange {
	height: 250px;
	width: 300px;
	background-color: $orange;
	z-index: -1;
	margin-left: 500px;
	margin-top: -30px;
	position: absolute;
	&:hover {
		background-color: white;
		box-shadow: 0px 0px 50px $salmon;
		z-index: 3;
	}
}

p#info {
	float: right;
    margin-right: 40px;
    margin-top: 120px;
    color: white;
	font-family: 'Cedarville Cursive', cursive;
}

// i.fa {
// 	font-size: 50px;
// 	margin: 0 auto;
// 	.fa-github {
// 		text-align: center;
// 		color: $pink;
// 	}
// }


