html, body {
	height: 100%;
	width: 100%;
	
}

 div#landing-page {
 	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/straw.jpg"),;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	background-color: black; 
	display: flex;
    justify-content: center;
    align-items: center;
}

